.goods-types {
}

.container {

}

.nav {
    height: 45px;
    line-height: 45px;
}

.nav ul {
    float: left;
}

.nav li {
    float: left;
}

.nav .list-left li {
    margin: 0 27px;
    font-size: 16px;
}

.nav .list-right li {
    margin: 0 23px;
    font-size: 14px;
}

.nav .list-right li span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav .select {
    color: #b1191a;
}


.line {
    width: 100%;
    height: 2px;
    background-color: #cb6666;
}

.cur-type {
    margin-bottom: 25px;
}


.goods-container {

}

.goods-container .item {
    height: 460px;
    width: 289px;
    /* font-family: 想要设置的字体, 备选字体; */
    font-family: SimSun, serif;
}


.goods-container .item .detail {
    height: 410px;
    width: 100%;
    box-sizing: border-box;
    border: 1px #ffffff00;
    border-style: solid solid none solid;
}

.goods-container .item:hover .detail {
    border-color: #f5b5b7;
}

.goods-container .item .buy-now {
    height: 50px;
    width: 100%;
    background-color: #b1191a;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.goods-container .item .buy-now a {
    color: white;
}

.goods-container .item .detail .pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods-container .item .detail .pic a {
    font-size: 0;
}

.goods-container .item .detail .title {
    height: 50px;
    font-size: 14px;
}

.goods-container .item .detail .title a {
    color: #666666;
}

.goods-container .item .detail .price {

}

.goods-container .item .detail .price .price-now {
    color: #e60012;
    font-size: 22px;
    margin-right: 8px;
    margin-bottom: 11px;
}

.goods-container .item .detail .price .price-now .icon {
    font-size: 14px;
}

.goods-container .item .detail .price .price-origin {
    color: #a4a4a4;
    font-size: 14px;
    text-decoration: line-through;
}


.goods-container .item .detail .state {
    color: #666666;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.goods-container .item .detail .state .sold-per {
    margin-right: 10px;
}

.goods-container .item .detail .state .progress {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.goods-container .item .detail .state .progress img {
    width: 132px;
}

.goods-container .item .detail .state .number {
    color: #e12228;
}