.Logo {
    max-height: 55px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.Logo .logo {
    width: 179px;
    height: 55px;
}

.Logo .line {
    margin-left: 13px;
    margin-right: 14px;
    height: 32px;
    width: 1px;
    background-color: #e5b2b3;
}

.Logo .smallTitle {
    color: #333333;
    font-size: 19px;
    margin-left: 20px;
    font-family: "Microsoft YaHei", serif;
}